

body{
	border: 2px solid black;
}
.wrapper {

	width:960px;
	border: 5px solid black;
	margin: auto;
	background-color: lavender;
	height: 960px;

}

.quotes {
	display: inline-block;	
	border: 2px dotted green;
	height: 500px;
	width: 470px;
	overflow: auto;
	
}
.button{


}
.quote_box {
    /*display: inline-block;*/
    width: 150px;
    height: 75px;
    margin: 10px;
    border: 3px solid #73AD21;  
}